# Custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y

# Core dump configuration
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_DATA_FORMAT_ELF=y
CONFIG_ESP_COREDUMP_CHECKSUM_CRC32=y
CONFIG_ESP_COREDUMP_CHECK_BOOT=y
CONFIG_ESP_COREDUMP_ENABLE=y
CONFIG_ESP_COREDUMP_LOGS=y
CONFIG_ESP_COREDUMP_MAX_TASKS_NUM=64

# Log timestamp source configuration
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240

# mbedtls heap optimizations
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_SSL_VARIABLE_BUFFER_LENGTH=y
