CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_esp32.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_esp32.csv"

# LoRa GPIO Pin Configuration for ESP32 PCB
CONFIG_MISO_GPIO=12
CONFIG_MOSI_GPIO=13
CONFIG_SCK_GPIO=14
CONFIG_CS_GPIO=15
CONFIG_RST_GPIO=5
CONFIG_SPI2_HOST=y

# Application GPIO Configuration for ESP32 PCB
CONFIG_RELAY_GPIO=4
CONFIG_SWITCH_GPIO=16
